name: Build and push Docker image to ACR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to ACR
        run: |
          az acr login --name slackbotaca

      - name: Build and push Docker image
        uses: azure/docker-login@v1
        with:
          login-server: slackbotaca.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - run: |
          docker build -t slackbotaca.azurecr.io/slackbot-sample:latest .
          docker push slackbotaca.azurecr.io/slackbot-sample:latest
